<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Deuce/src/java/org/deuce/transform/asm/Agent.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.deuce.transform.asm.Agent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;D:\Java\jdk1.6.0_16\jre\lib\rt.jar,D:\Java\jdk1.6.0_16\jre\lib\rt.jar&quot; &quot;D:\workspaces\deuce\Deuce-optimized\rt.jar,D:\workspaces\deuce\Deuce-optimized\rt.jar&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Deuce"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.deuce.exclude=&quot;java.lang.Enum,sun.*&quot;"/>
</launchConfiguration>
